<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.c2c.dao.AddressMapper" >
  <resultMap id="BaseResultMap" type="com.c2c.pojo.Address" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="buyer_name" property="buyerName" jdbcType="VARCHAR" />
    <result column="buyer_phone" property="buyerPhone" jdbcType="CHAR" />
    <result column="address_content" property="addressContent" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_id, buyer_name, buyer_phone, address_content
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from address
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAddressByUserId" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from address
    where user_id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from address
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.c2c.pojo.Address" >
    insert into address (id, user_id, buyer_name, 
      buyer_phone, address_content)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{buyerName,jdbcType=VARCHAR}, 
      #{buyerPhone,jdbcType=CHAR}, #{addressContent,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.c2c.pojo.Address" >
    insert into address
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="buyerName != null" >
        buyer_name,
      </if>
      <if test="buyerPhone != null" >
        buyer_phone,
      </if>
      <if test="addressContent != null" >
        address_content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="buyerName != null" >
        #{buyerName,jdbcType=VARCHAR},
      </if>
      <if test="buyerPhone != null" >
        #{buyerPhone,jdbcType=CHAR},
      </if>
      <if test="addressContent != null" >
        #{addressContent,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.c2c.pojo.Address" >
    update address
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="buyerName != null" >
        buyer_name = #{buyerName,jdbcType=VARCHAR},
      </if>
      <if test="buyerPhone != null" >
        buyer_phone = #{buyerPhone,jdbcType=CHAR},
      </if>
      <if test="addressContent != null" >
        address_content = #{addressContent,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.c2c.pojo.Address" >
    update address
    set user_id = #{userId,jdbcType=INTEGER},
      buyer_name = #{buyerName,jdbcType=VARCHAR},
      buyer_phone = #{buyerPhone,jdbcType=CHAR},
      address_content = #{addressContent,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>