.ding table tr th{
	color: black;
  	font-size: 14px;
 	font-family: 'OleoScript-Regular';
 	
 	padding-left:5px;
}
.ding table tr{
	height: 40px;
	border: 1px solid;
	border-color: gainsboro; 
}
.ding table tr td{
	font-size: 14px;
	color: black;
	padding-left:5px;
}

/*--checkout--*/
.check-out{
	padding:2em 0em;
	position: relative;
}
.check-out1{
	padding: 4em 0em 2em 0em;
	margin-bottom: 30px;
}
tr{
	height: 50px;
}

.check-out table{
	width:990px;
	margin: 0px auto;
	
}
.check-out th{
	color: #52D0C4;
  	font-size: 16px;
 	font-family: 'OleoScript-Regular';
 	width: 100px;
}
.check-out th, 
 {
    padding: 10px;
}
.check-out td{
	color:#b2b2b2;
  font-size: 14px;
}
.check-out a.at-in {
   float: left;
    width: 20%;
}
.sed {
    float: right;
	width: 74%;
	height: 60px;
}
.sed h5,p{
	float: left;
}
.sed h5{
     color: #52D0C4;
  	font-size: 14px;
  	 margin-top: 0px;
  	margin-bottom: 0px;
  	font-weight: normal;
  	line-height: 1;
}
.sed p{
    color:#b2b2b2;
	font-size:13px;
	line-height:1.8em;
}

#shulk{
    width: 40px;
    height:30px;
  margin: 1em 2em;
  background: #fff;
  outline: none;
  text-align: center;
   border: 1px solid #000;
}
.check{
	width:6%;
}
.ring-in{
	width:250px;
}
.check-out h1 {
    font-size: 3em;
  color: #000;
  font-family: 'OleoScript-Regular';
  margin: 0 0px 1em;
  text-align: center;
}
a.to-buy{
  padding: 0.3em 0.7em;
  color: #FFF;
  background: #52D0C4;
  margin: 30px 0px;
  font-size: 16px;
  display: inline-block;
  line-height: 1.6em;
  text-align: center;
  text-decoration: none;
  /* margin-left: 100px; */
}
a.to-buy:hover{
  background: #000;
}
/*--//checkout--*/
/*--typo--*/

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: none;
}


/*--checkout--*/
th, td {
  padding: 10px 4px;
  text-align: center;
}

}
@media(max-width:480px){
.matter-banner{
  width: 100%;
  padding: 0;
}

/*--checkout--*/
.check-out h1 {
  font-size: 2em;
  margin: 0 0 0.4em;
}
.check-out {
  padding: 2em 0em;
}
.sed {
  float: right;
  width: 0;
  display: none;
}
a.at-in {
  float: left;
  width: 76%;
}
.ring-in {
  width: 20%;
}
th, td {
  padding: 7px 0px;
}
.check-out th {
  font-size: 1em;
}
.check-out td {
  font-size: 0.8em;
}
a.to-buy {
  margin: 0;
  font-size: 0.8em;
}
.single {
  padding: 2em 0;
}
/*address */
.addre{
	margin-top: 20px;
}






